body{
  background-color: white;
  margin: 0px auto;
}
.wangda{
 
  background: #333;
  margin-right: auto;
  margin-left: auto;
}
.wd{
    width: 1226px;
    height: 40px;
    color: #b0b0b0;
    font-size: 10px;
    line-height:40px;
    font-size: 12px;
  }
 a{
    text-decoration: none;
    color: #b0b0b0;
  }
  .nav-right{
  float: right;
  margin: auto -125px auto 100px
  }

.gouwuche{
  line-height:40px;
  float:right;
  margin-top:5px;
  }
.nav-left{
  display:inline-block;
  height: 40px;
  color: #b0b0b0;
  background: #333;
  font-size: 10px;
  margin: auto 0px auto 100px; 
  line-height:40px;
}
.shangbiao{
  display: inline-block
}
.xiaomi{
  margin-top:5px;
  top:60px;
  margin-left:100px;
  }
.yemei{
  color: #333;
  font-size: 16px;
  word-spacing: 20px;
  margin-left: 300px;
  margin-top:-30px;
}
.Box {
  position: relative;
  top: -50px;
  right:-1133px;
  z-index: 1;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 48px;
  outline: 0;
  transition: all .2s;
}
.zoubian{
  position: absolute;
  top: 120px;
  left: 85px;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
  background: rgba(0,0,0,0.6);
}
ul li{
  list-style: none;
  color: #fff;
  margin-left: 10px;
  }
.xiaomi8{
  float: left;
  margin-top: -430px;
  margin-left: 200px;
  height: 462px;
  width: 1074px;
  background-image: url("logo/xm.jpg");
}
.logo{
  float: left;
  width: 20%;
}
.w1{
  position: relative;
  float: left;
  margin-top: 550px;
  margin-left: 84px;
  width: 201px;
  height: 160px;
}
.w2{
  position: relative;
  margin-top: -160px;
  margin-left: 330px;
  width: 300px;
  height: 160px;
}
.w3{
  position: relative;
  margin-top: -160px;
  margin-left: 690px;
  width: 310px;
  height: 160px;
}
.w4{
  position: relative;
  margin-top: -160px;
  margin-left: 1060px;
  width: 300px;
  height: 160px;
}
